
<div class="login-container">
	<div class="user-icon">
		<i class="material-icons user-icon-i">person</i>
		<span class="user-text">LOGIN</span>
	</div>
	<form novalidate #f="ngForm" (submit)="login(credentials)">
		<!--<md-input-container class="input-full-width">
			<input mdInput [(ngModel)]="credentials.email" 
				name="email" 
				type="email"
				placeholder="Email"
				required>
		</md-input-container>-->
		<md-input-container class="input-full-width">
			<input mdInput [(ngModel)]="credentials.username" 
				name="username" 
				placeholder="Username"
				required>
		</md-input-container>
		<md-input-container class="input-full-width">
			<input mdInput [(ngModel)]="credentials.password" 
				name="password" 
				type="password" 
				placeholder="Password"
				required>
		</md-input-container>
		<div class="register">
			<a routerLink="/register">Register</a>
		</div>
		<button md-raised-button 
			href="url" 
			type="submit" 
			id="button-id" 
			class="md-primary btn-login" 
			ng-disabled="ngForm" 
			md-ripple-size="full"
			md-no-ink="true" 
			aria-label="button-label"> 
			LOGIN
		</button>
	</form>
</div>
