.register-container {
    width: 30%;
    margin: 100px auto 0;
    background: white;
    box-shadow: 1px 1px 7px 0px rgba(145, 145, 145, 0.5);
    padding: 30px 80px;
}

.user-icon {
    margin: 0 auto 40px;
    width: 90px;
    height: 90px;
    text-align: center;
    background: #2979ff;
    border-radius: 80px;
    color: white;
}
.user-icon-i {
    font-size: 80px;
}

.user-text {
    color: #6d6d6d;
    margin: 20px 0;
    display: block;
}

.input-full-width {
    width: 100%;
    margin-bottom: 20px;
}

.register {
    text-align: right;
    margin-bottom: 20px;
}
.register a {
    text-decoration: none;
    font-size: 15px;
    color: #2979ff;
}

.btn-login {
    display: block;
    margin: auto;
    width: 200px;
    background: #2979FF;
    color: white;
}

.user-type {
    width: 100%;
    margin-bottom: 40px;
}
.user-type-btn {
    width: 49%;
    padding: 10px;
    margin: 1%;
    text-align: center;
    border: 1px solid #e8e8e8;
}

.mat-button-toggle-checked {
    background: #2979ff;
    color: white;
}

.user-type-btn span {
    display: block;
    height: 100%;
    line-height: 100px;
}